In [37]:
# DEVOIR 2
# PARTIE I: COLLECTE DES DONNÃ‰ES
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [38]:
#######################################################
# Collecting data from 40 different links #############
#######################################################

In [39]:
# List of features completed
# 1. GDP
# 2. Internet Speed
# 3. Consumption of Pure Alcohol
# 4. Intentional Homicide Victims
# 5. Military Expenditures

# 6. Human Development Index
# 7. Democracy Index
# 8. Tertiary Education
# 9. Importance of Religion (in %)
# 10. % of Christians

# 11. % of Muslims
# 12. % of Buddhists
# 13. % of Jews
# 14. Under-Five Mortality
# 15. Age of Criminal Responsability

# 16. Minimal Wage
# 17. External Debt (% of GDP)
# 18. Gini (in %)
# 19. Health Expenditure
# 20. Suicide Rate

# 21. Fertility Rate
# 22. Tabacco Consumption
# 23. Obesity Rate
# 24. Internet Users (in %)
# 25. Median Age

# 26. Economic Freedom Score
# 27. Oil Production
# 28. Population Growth Rate
# 29. Life Expectancy
# 30. Meat Consumption per kg

# 31. Incarceration Rate (per 100 000)
# 32. Literacy Rate
# 33. Age at First Marriage
# 34. Spending on Education (in %)
# 35. Homeless Population (per 10 000)

# 36. Milk Consumption
# 37. Num. of Scientific and Technical Journals Articles
# 38. Books Published
# 39. Kilocalories
# 40. Avg. Yearly Temperature (in Celsius)

In [40]:
# CREATE A MATRIX OF THE NAME OF COUNTRIES
def get_countries(filename):
    df_country = pd.read_csv(filename)
    return df_country.values

In [41]:
# EXPAND THE TABLE FOR ACCUMULATING THE NEXT FEATURE
def expand_table(table):
    next_factor = np.empty(table.shape[0])
    next_factor[:] = np.NaN
    
    return np.column_stack((table, next_factor))

In [42]:
# FIND THE INDEX OF THE NAME OF THE COUNTRY AT THE TABLE
def find_index(country_matrix, name):
    for i in range(country_matrix.shape[0]):
        for j in range(country_matrix.shape[1]):
            if country_matrix[i][j] == name:
                return i
            
    return -1

In [43]:
# FILL THE TABLE WITH THE SPECIFIED FEATURE
def fill_table(table, feature_table, country_matrix):
    array_index = np.array([])
    
    for i in range(feature_table.shape[0]):
        index = find_index(country_matrix, feature_table[i][0])
        
        if index == -1:
            print(f'COUNTRY/TERRITORY NOT FOUND: {feature_table[i][0]}')
        else:
            table[index][-1] = feature_table[i][1]
            array_index = np.hstack((array_index,index))
    
    #Verification state
    print(f'# Index found and # Unique index found: {array_index.shape[0]} and {np.unique(array_index).shape[0]}')
    #print(np.sort(array_index))
    #print(np.unique(array_index))
    
    return table

In [44]:
# EXTRACT THE DATA WITH THE DESIRED FEATURE
# Returns a table: [Country, Values of the feature]
def extracted_data(filename, starting_row, column_country, column_feature):
    df = pd.read_csv(filename)
    df = df.iloc[starting_row:, [column_country, column_feature]]
    
    countries = df.iloc[:,0].values

    # Clean the feature data
    feature = df.iloc[:,1].values
    
    return np.column_stack((countries, feature))

In [45]:
# PRINCIPAL FUNCTION THAT ADDS A NEW FEATURE TO THE TABLE
# Expand the table, extract the data from csv file and fill the table
# array_indexes: [starting_row, column_country, column_feature] (Read description of function "extracted_data")
def update_table(filename, array_indexes, table, country_matrix):
    table = expand_table(table)
    feature_table = extracted_data(filename, array_indexes[0], array_indexes[1], array_indexes[2])
    table = fill_table(table, feature_table, country_matrix)
    
    return table

In [46]:
country_matrix = get_countries("countries.csv")
print(f'Number of countries/territories: {country_matrix.shape[0]}')
countries = country_matrix[:,0]
table = countries

print('\n FEATURES 1 TO 5')
table = update_table("CSV Raw Data/1.csv", [1, 0, 5], table, country_matrix)
table = update_table("CSV Raw Data/2.csv", [0, 1, 2], table, country_matrix)
table = update_table("CSV Raw Data/3.csv", [0, 0, 2], table, country_matrix)
table = update_table("CSV Raw Data/4.csv", [1, 0, 3], table, country_matrix)
table = update_table("CSV Raw Data/5.csv", [1, 1, 3], table, country_matrix)

print('\n FEATURES 6 TO 10')
table = update_table("CSV Raw Data/6.csv", [1, 2, 3], table, country_matrix)
table = update_table("CSV Raw Data/7.csv", [0, 2, 4], table, country_matrix)
table = update_table("CSV Raw Data/8.csv", [1, 0, 1], table, country_matrix)
table = update_table("CSV Raw Data/9.csv", [0, 1, 2], table, country_matrix)
table = update_table("CSV Raw Data/10.csv", [0, 0, 2],table, country_matrix)

print('\n FEATURES 11 TO 15')
table = update_table("CSV Raw Data/11.csv", [0, 0, 3],table, country_matrix)
table = update_table("CSV Raw Data/12.csv", [1, 0, 2],table, country_matrix)
table = update_table("CSV Raw Data/13.csv", [1, 0, 2],table, country_matrix)
table = update_table("CSV Raw Data/14.csv", [0, 0, 1],table, country_matrix)
table = update_table("CSV Raw Data/15.csv", [0, 0, 1],table, country_matrix)

print('\n FEATURES 16 TO 20')
table = update_table("CSV Raw Data/16.csv", [1, 0, 2],table, country_matrix)
table = update_table("CSV Raw Data/17.csv", [0, 1, 5],table, country_matrix)
table = update_table("CSV Raw Data/18.csv", [2, 0, 5],table, country_matrix)
table = update_table("CSV Raw Data/19.csv", [0, 0, 3],table, country_matrix)
table = update_table("CSV Raw Data/20.csv", [0, 0, 1],table, country_matrix)

print('\n FEATURES 21 TO 25')
table = update_table("CSV Raw Data/21.csv", [0, 1, 2],table, country_matrix)
table = update_table("CSV Raw Data/22.csv", [2, 0, -1],table, country_matrix)
table = update_table("CSV Raw Data/23.csv", [0, 0, 2],table, country_matrix)
table = update_table("CSV Raw Data/24.csv", [0, 0, 4],table, country_matrix)
table = update_table("CSV Raw Data/25.csv", [2, 0, 3],table, country_matrix)

print('\n FEATURES 26 TO 30')
table = update_table("CSV Raw Data/26.csv", [0, 1, 2],table, country_matrix)
table = update_table("CSV Raw Data/27.csv", [0, 0, 2],table, country_matrix)
table = update_table("CSV Raw Data/28.csv", [2, 0, -1],table, country_matrix)
table = update_table("CSV Raw Data/29.csv", [2, 0, 1],table, country_matrix)
table = update_table("CSV Raw Data/30.csv", [0, 0, 1],table, country_matrix)

print('\n FEATURES 31 TO 35')
table = update_table("CSV Raw Data/31.csv", [1, 0, 3],table, country_matrix)
table = update_table("CSV Raw Data/32.csv", [1, 0, 5],table, country_matrix)
table = update_table("CSV Raw Data/33.csv", [0, 0, 2],table, country_matrix)
table = update_table("CSV Raw Data/34.csv", [0, 0, 1],table, country_matrix)
table = update_table("CSV Raw Data/35.csv", [0, 0, 3],table, country_matrix)

print('\n FEATURES 36 TO 40')
table = update_table("CSV Raw Data/36.csv", [0, 2, 3],table, country_matrix)
table = update_table("CSV Raw Data/37.csv", [0, 1, 3],table, country_matrix)
table = update_table("CSV Raw Data/38.csv", [0, 1, 3],table, country_matrix)
table = update_table("CSV Raw Data/39.csv", [1, 1, 2],table, country_matrix)
table = update_table("CSV Raw Data/40.csv", [0, 0, 1],table, country_matrix)

Number of countries/territories: 278

 FEATURES 1 TO 5
# Index found and # Unique index found: 215 and 215
# Index found and # Unique index found: 100 and 100
# Index found and # Unique index found: 191 and 191
# Index found and # Unique index found: 195 and 194
# Index found and # Unique index found: 15 and 15

 FEATURES 6 TO 10
# Index found and # Unique index found: 189 and 189
# Index found and # Unique index found: 167 and 167
# Index found and # Unique index found: 44 and 44
# Index found and # Unique index found: 145 and 145
# Index found and # Unique index found: 195 and 195

 FEATURES 11 TO 15
# Index found and # Unique index found: 232 and 232
# Index found and # Unique index found: 179 and 179
# Index found and # Unique index found: 111 and 111
# Index found and # Unique index found: 193 and 193
# Index found and # Unique index found: 141 and 141

 FEATURES 16 TO 20
# Index found and # Unique index found: 202 and 202
# Index found and # Unique index found: 210 and 210
# Index found and # Unique index found: 177 and 177
# Index found and # Unique index found: 192 and 192
# Index found and # Unique index found: 184 and 184

 FEATURES 21 TO 25
# Index found and # Unique index found: 222 and 222
# Index found and # Unique index found: 149 and 149
# Index found and # Unique index found: 191 and 191
# Index found and # Unique index found: 214 and 214
# Index found and # Unique index found: 228 and 228

 FEATURES 26 TO 30
# Index found and # Unique index found: 180 and 180
# Index found and # Unique index found: 97 and 97
# Index found and # Unique index found: 237 and 237
# Index found and # Unique index found: 183 and 183
# Index found and # Unique index found: 185 and 185

 FEATURES 31 TO 35
# Index found and # Unique index found: 226 and 226
# Index found and # Unique index found: 234 and 234
# Index found and # Unique index found: 195 and 195
# Index found and # Unique index found: 198 and 198
# Index found and # Unique index found: 89 and 89

 FEATURES 36 TO 40
# Index found and # Unique index found: 183 and 183
# Index found and # Unique index found: 198 and 198
# Index found and # Unique index found: 130 and 130
# Index found and # Unique index found: 175 and 175
# Index found and # Unique index found: 191 and 191

In [47]:
#################################################################################
# FINAL STEPS: CONVERTING TO CSV FILE

column_names = ['COUNTRY', 'GDP', 'Internet Speed', 'Consumption of Pure Alcohol',
    'Intentional Homicide Victims', 'Military Expenditures', 'Human Development Index', 'Democracy Index',
    'Tertiary Education', 'Importance of Religion (in %)', '% of Christians', '% of Muslims', '% of Buddhists',
    '% of Jews', 'Under-Five Mortality', 'Age of Criminal Responsability', 'Minimal Wage', 'External Debt (% of GDP)', 
    'Gini (in %)', 'Health Expenditure', 'Suicide Rate', 'Fertility Rate', 'Tabacco Consumption', 'Obesity Rate',
    'Internet Users (in %)', 'Median Age', 'Economic Freedom Score', 'Oil Production', 'Population Growth Rate',
    'Life Expectancy', 'Meat Consumption per kg', 'Incarceration Rate (per 100 000)', 'Literacy Rate', 'Age at First Marriage',
    'Spending on Education (in %)', 'Homeless Population (per 10 000)', 'Milk Consumption', 
    'Num. of Scientific and Technical Journals Articles', 'Books Published', 'Kilocalories',
    'Avg. Yearly Temperature (in Celsius)']
final_table = pd.DataFrame(table, columns=column_names)

# Convert the features to numeric numbers (float64)

# Features 1 to 5
final_table["GDP"] = pd.to_numeric(final_table["GDP"])
final_table["Internet Speed"] = pd.to_numeric(final_table["Internet Speed"])
final_table["Consumption of Pure Alcohol"] = pd.to_numeric(final_table["Consumption of Pure Alcohol"])
final_table["Intentional Homicide Victims"] = pd.to_numeric(final_table["Intentional Homicide Victims"])
final_table["Military Expenditures"] = pd.to_numeric(final_table["Military Expenditures"])

# Features 6 to 10
final_table["Human Development Index"] = pd.to_numeric(final_table["Human Development Index"])
final_table["Democracy Index"] = pd.to_numeric(final_table["Democracy Index"])
final_table["Tertiary Education"] = pd.to_numeric(final_table["Tertiary Education"])
final_table["Importance of Religion (in %)"] = pd.to_numeric(final_table["Importance of Religion (in %)"])
final_table["% of Christians"] = pd.to_numeric(final_table["% of Christians"])

# Features 11 to 15
final_table["% of Muslims"] = pd.to_numeric(final_table["% of Muslims"])
final_table["% of Buddhists"] = pd.to_numeric(final_table["% of Buddhists"])
final_table["% of Jews"] = pd.to_numeric(final_table["% of Jews"])
final_table["Under-Five Mortality"] = pd.to_numeric(final_table["Under-Five Mortality"])
final_table["Age of Criminal Responsability"] = pd.to_numeric(final_table["Age of Criminal Responsability"])

# Features 16 to 20
final_table["Minimal Wage"] = pd.to_numeric(final_table["Minimal Wage"])
final_table["External Debt (% of GDP)"] = pd.to_numeric(final_table["External Debt (% of GDP)"])
final_table["Gini (in %)"] = pd.to_numeric(final_table["Gini (in %)"])
final_table["Health Expenditure"] = pd.to_numeric(final_table["Health Expenditure"])
final_table["Suicide Rate"] = pd.to_numeric(final_table["Suicide Rate"])

# Features 21 to 25
final_table["Fertility Rate"] = pd.to_numeric(final_table["Fertility Rate"])
final_table["Tabacco Consumption"] = pd.to_numeric(final_table["Tabacco Consumption"])
final_table["Obesity Rate"] = pd.to_numeric(final_table["Obesity Rate"])
final_table["Internet Users (in %)"] = pd.to_numeric(final_table["Internet Users (in %)"])
final_table["Median Age"] = pd.to_numeric(final_table["Median Age"])

# Features 26 to 30
final_table["Economic Freedom Score"] = pd.to_numeric(final_table["Economic Freedom Score"])
final_table["Oil Production"] = pd.to_numeric(final_table["Oil Production"])
final_table["Population Growth Rate"] = pd.to_numeric(final_table["Population Growth Rate"])
final_table["Life Expectancy"] = pd.to_numeric(final_table["Life Expectancy"])
final_table["Meat Consumption per kg"] = pd.to_numeric(final_table["Meat Consumption per kg"])

# Features 31 to 35
final_table["Incarceration Rate (per 100 000)"] = pd.to_numeric(final_table["Incarceration Rate (per 100 000)"])
final_table["Literacy Rate"] = pd.to_numeric(final_table["Literacy Rate"])
final_table["Age at First Marriage"] = pd.to_numeric(final_table["Age at First Marriage"])
final_table["Spending on Education (in %)"] = pd.to_numeric(final_table["Spending on Education (in %)"])
final_table["Homeless Population (per 10 000)"] = pd.to_numeric(final_table["Homeless Population (per 10 000)"])

# Features 36 to 40
final_table["Milk Consumption"] = pd.to_numeric(final_table["Milk Consumption"])
final_table["Num. of Scientific and Technical Journals Articles"] = pd.to_numeric(final_table["Num. of Scientific and Technical Journals Articles"])
final_table["Books Published"] = pd.to_numeric(final_table["Books Published"])
final_table["Kilocalories"] = pd.to_numeric(final_table["Kilocalories"])
final_table["Avg. Yearly Temperature (in Celsius)"] = pd.to_numeric(final_table["Avg. Yearly Temperature (in Celsius)"])

print(final_table.iloc[:,-1].count())
final_table.head()

191

,COUNTRY,GDP,Internet Speed,Consumption of Pure Alcohol,Intentional Homicide Victims,Military Expenditures,Human Development Index,Democracy Index,Tertiary Education,Importance of Religion (in %),...,Incarceration Rate (per 100 000),Literacy Rate,Age at First Marriage,Spending on Education (in %),Homeless Population (per 10 000),Milk Consumption,Num. of Scientific and Technical Journals Articles,Books Published,Kilocalories,Avg. Yearly Temperature (in Celsius)
0,Afghanistan,470.0,NaN,0.2,6.7,NaN,0.511,2.85,NaN,97.0,...,87.0,20.3,15.0,4.1,NaN,62.23,3.013,2795.0,NaN,12.6
1,Albania,5303.0,45.25,7.5,2.3,NaN,0.795,6.08,NaN,50.0,...,164.0,86.9,24.0,4.0,NaN,303.72,62.441,390.0,2890.0,11.4
2,Algeria,3976.0,NaN,0.9,1.4,NaN,0.748,3.77,NaN,95.0,...,153.0,19.5,27.8,4.3,NaN,141.53,123.874,3955.0,3090.0,22.5
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,345.0,92.7,NaN,NaN,NaN,NaN,NaN,46.0,NaN,NaN
4,Andorra,40887.0,191.23,11.3,0.0,NaN,0.868,NaN,NaN,NaN,...,55.0,NaN,NaN,3.2,NaN,NaN,51.944,57.0,NaN,7.6

In [48]:
####################################################################
# CREATING dataA.csv ###############################################
####################################################################

In [49]:
dataA = pd.DataFrame(columns=column_names)
for i in range(final_table.shape[0]):
    if final_table.shape[1] - final_table.iloc[i,:].count() < 12:
        dataA = dataA.append(final_table.iloc[i,:])

In [50]:
dataA.head()

,COUNTRY,GDP,Internet Speed,Consumption of Pure Alcohol,Intentional Homicide Victims,Military Expenditures,Human Development Index,Democracy Index,Tertiary Education,Importance of Religion (in %),...,Incarceration Rate (per 100 000),Literacy Rate,Age at First Marriage,Spending on Education (in %),Homeless Population (per 10 000),Milk Consumption,Num. of Scientific and Technical Journals Articles,Books Published,Kilocalories,Avg. Yearly Temperature (in Celsius)
0,Afghanistan,470.0,NaN,0.2,6.7,NaN,0.511,2.85,NaN,97.0,...,87.0,20.3,15.0,4.1,NaN,62.23,3.013,2795.0,NaN,12.60
1,Albania,5303.0,45.25,7.5,2.3,NaN,0.795,6.08,NaN,50.0,...,164.0,86.9,24.0,4.0,NaN,303.72,62.441,390.0,2890.0,11.40
2,Algeria,3976.0,NaN,0.9,1.4,NaN,0.748,3.77,NaN,95.0,...,153.0,19.5,27.8,4.3,NaN,141.53,123.874,3955.0,3090.0,22.50
5,Angola,2671.0,NaN,6.4,4.8,NaN,0.581,3.66,NaN,88.0,...,93.0,27.0,21.4,3.5,NaN,12.30,0.974,22.0,1960.0,21.55
8,Argentina,10041.0,51.51,9.8,5.3,NaN,0.845,6.95,NaN,65.0,...,230.0,97.9,33.2,5.5,NaN,195.08,198.620,28010.0,3030.0,14.80

In [51]:
# Convert pourcentage to real values
# dataA['Importance of Religion (in %)'] = dataA['Importance of Religion (in %)'] / 100
dataA['Importance of Religion (in %)'] / 100
dataA['% of Christians'] = dataA['% of Christians'] / 100
dataA['% of Muslims'] = dataA['% of Muslims'] / 100
dataA['% of Buddhists'] = dataA['% of Buddhists'] / 100
dataA['% of Jews'] = dataA['% of Jews'] / 100
dataA['External Debt (% of GDP)'] = dataA['External Debt (% of GDP)'] / 100
dataA['Gini (in %)'] = dataA['Gini (in %)'] / 100
dataA['Importance of Religion (in %)'] = dataA['Importance of Religion (in %)'] / 100
dataA['Internet Users (in %)'] = dataA['Internet Users (in %)'] / 100

In [52]:
dataA.head()

,COUNTRY,GDP,Internet Speed,Consumption of Pure Alcohol,Intentional Homicide Victims,Military Expenditures,Human Development Index,Democracy Index,Tertiary Education,Importance of Religion (in %),...,Incarceration Rate (per 100 000),Literacy Rate,Age at First Marriage,Spending on Education (in %),Homeless Population (per 10 000),Milk Consumption,Num. of Scientific and Technical Journals Articles,Books Published,Kilocalories,Avg. Yearly Temperature (in Celsius)
0,Afghanistan,470.0,NaN,0.2,6.7,NaN,0.511,2.85,NaN,0.97,...,87.0,20.3,15.0,4.1,NaN,62.23,3.013,2795.0,NaN,12.60
1,Albania,5303.0,45.25,7.5,2.3,NaN,0.795,6.08,NaN,0.50,...,164.0,86.9,24.0,4.0,NaN,303.72,62.441,390.0,2890.0,11.40
2,Algeria,3976.0,NaN,0.9,1.4,NaN,0.748,3.77,NaN,0.95,...,153.0,19.5,27.8,4.3,NaN,141.53,123.874,3955.0,3090.0,22.50
5,Angola,2671.0,NaN,6.4,4.8,NaN,0.581,3.66,NaN,0.88,...,93.0,27.0,21.4,3.5,NaN,12.30,0.974,22.0,1960.0,21.55
8,Argentina,10041.0,51.51,9.8,5.3,NaN,0.845,6.95,NaN,0.65,...,230.0,97.9,33.2,5.5,NaN,195.08,198.620,28010.0,3030.0,14.80

In [53]:
dataA.to_csv("dataA.csv", encoding='utf-8', index=False)

In [54]:
# VERIFY THE DATA TYPES (FLOAT64 FOR EVERY FEATURE)
data=pd.read_csv('dataA.csv', index_col=0)
data.dtypes

GDP                                                   float64
Internet Speed                                        float64
Consumption of Pure Alcohol                           float64
Intentional Homicide Victims                          float64
Military Expenditures                                 float64
Human Development Index                               float64
Democracy Index                                       float64
Tertiary Education                                    float64
Importance of Religion (in %)                         float64
% of Christians                                       float64
% of Muslims                                          float64
% of Buddhists                                        float64
% of Jews                                             float64
Under-Five Mortality                                  float64
Age of Criminal Responsability                        float64
Minimal Wage                                          float64
External Debt (% of GDP)                              float64
Gini (in %)                                           float64
Health Expenditure                                    float64
Suicide Rate                                          float64
Fertility Rate                                        float64
Tabacco Consumption                                   float64
Obesity Rate                                          float64
Internet Users (in %)                                 float64
Median Age                                            float64
Economic Freedom Score                                float64
Oil Production                                        float64
Population Growth Rate                                float64
Life Expectancy                                       float64
Meat Consumption per kg                               float64
Incarceration Rate (per 100 000)                      float64
Literacy Rate                                         float64
Age at First Marriage                                 float64
Spending on Education (in %)                          float64
Homeless Population (per 10 000)                      float64
Milk Consumption                                      float64
Num. of Scientific and Technical Journals Articles    float64
Books Published                                       float64
Kilocalories                                          float64
Avg. Yearly Temperature (in Celsius)                  float64
dtype: object

In [55]:
data.head()

,GDP,Internet Speed,Consumption of Pure Alcohol,Intentional Homicide Victims,Military Expenditures,Human Development Index,Democracy Index,Tertiary Education,Importance of Religion (in %),% of Christians,...,Incarceration Rate (per 100 000),Literacy Rate,Age at First Marriage,Spending on Education (in %),Homeless Population (per 10 000),Milk Consumption,Num. of Scientific and Technical Journals Articles,Books Published,Kilocalories,Avg. Yearly Temperature (in Celsius)
COUNTRY,,,,,,,,,,,,,,,,,,,,,
Afghanistan,470.0,NaN,0.2,6.7,NaN,0.511,2.85,NaN,0.97,0.0002,...,87.0,20.3,15.0,4.1,NaN,62.23,3.013,2795.0,NaN,12.60
Albania,5303.0,45.25,7.5,2.3,NaN,0.795,6.08,NaN,0.50,0.1700,...,164.0,86.9,24.0,4.0,NaN,303.72,62.441,390.0,2890.0,11.40
Algeria,3976.0,NaN,0.9,1.4,NaN,0.748,3.77,NaN,0.95,0.0001,...,153.0,19.5,27.8,4.3,NaN,141.53,123.874,3955.0,3090.0,22.50
Angola,2671.0,NaN,6.4,4.8,NaN,0.581,3.66,NaN,0.88,0.7500,...,93.0,27.0,21.4,3.5,NaN,12.30,0.974,22.0,1960.0,21.55
Argentina,10041.0,51.51,9.8,5.3,NaN,0.845,6.95,NaN,0.65,0.7700,...,230.0,97.9,33.2,5.5,NaN,195.08,198.620,28010.0,3030.0,14.80

In [56]:
# We have 157 countries with 40 different features
data.shape

(157, 40)

In [57]:
####################################################################
# CREATING dataB.csv ###############################################
####################################################################

# Note: We will be using "data" DataFrame in order to create
# dataB and dataC.

In [58]:
# TESTING BLOCK
'''
datatest = pd.DataFrame(columns=column_names[1:])
datatest = datatest.append(data.iloc[26,:])
datatest = datatest.append(data.iloc[30,:])
datatest = datatest.append(data.iloc[48,:])
datatest = datatest.append(data.iloc[51,:])
datatest = datatest.append(data.iloc[91,:])
datatest = datatest.append(data.iloc[118,:])
datatest = datatest.append(data.iloc[149,:])
data = datatest
data
'''

'\ndatatest = pd.DataFrame(columns=column_names[1:])\ndatatest = datatest.append(data.iloc[26,:])\ndatatest = datatest.append(data.iloc[30,:])\ndatatest = datatest.append(data.iloc[48,:])\ndatatest = datatest.append(data.iloc[51,:])\ndatatest = datatest.append(data.iloc[91,:])\ndatatest = datatest.append(data.iloc[118,:])\ndatatest = datatest.append(data.iloc[149,:])\ndata = datatest\ndata\n'

In [59]:
# STEP 1: CREATE A BOOLEAN TABLE (True: if cell contains nan, False otherwise)

In [60]:
bool_df = pd.DataFrame(columns=column_names[1:])

for i in range(data.shape[0]):
    bool_df = bool_df.append(pd.isnull(data.iloc[i,:]))

bool_df

,GDP,Internet Speed,Consumption of Pure Alcohol,Intentional Homicide Victims,Military Expenditures,Human Development Index,Democracy Index,Tertiary Education,Importance of Religion (in %),% of Christians,...,Incarceration Rate (per 100 000),Literacy Rate,Age at First Marriage,Spending on Education (in %),Homeless Population (per 10 000),Milk Consumption,Num. of Scientific and Technical Journals Articles,Books Published,Kilocalories,Avg. Yearly Temperature (in Celsius)
Afghanistan,False,True,False,False,True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,True,False
Albania,False,False,False,False,True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
Algeria,False,True,False,False,True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
Angola,False,True,False,False,True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
Argentina,False,False,False,False,True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,False,True,False,False,True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
Vietnam,False,False,False,False,True,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
Yemen,False,True,False,False,True,False,False,True,False,False,...,False,False,False,False,False,False,False,True,False,False
Zambia,False,True,False,False,True,False,False,True,False,False,...,False,False,False,False,True,False,False,True,False,False
Zimbabwe,False,True,False,False,True,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [61]:
# STEP 2: IMPUTATION WITH THE MEDIAN OF EACH FEATURE

In [62]:
# List of medians (40)
data.median()

# Median of the jth column
#dataA.iloc[:,j].median()

GDP                                                   6109.00000
Internet Speed                                          88.62500
Consumption of Pure Alcohol                              6.35000
Intentional Homicide Victims                             2.35000
Military Expenditures                                    2.10000
Human Development Index                                  0.75600
Democracy Index                                          5.77500
Tertiary Education                                      41.00000
Importance of Religion (in %)                            0.83500
% of Christians                                          0.61400
% of Muslims                                             0.06300
% of Buddhists                                           0.00100
% of Jews                                                0.00013
Under-Five Mortality                                    14.20000
Age of Criminal Responsability                          13.00000
Minimal Wage                                          2654.00000
External Debt (% of GDP)                                 0.57000
Gini (in %)                                              0.36400
Health Expenditure                                     945.00000
Suicide Rate                                             8.30000
Fertility Rate                                           2.18800
Tabacco Consumption                                     31.30000
Obesity Rate                                            20.60000
Internet Users (in %)                                    0.64000
Median Age                                              30.10000
Economic Freedom Score                                  60.90000
Oil Production                                        3825.00000
Population Growth Rate                                   1.13000
Life Expectancy                                         74.40000
Meat Consumption per kg                                 38.20000
Incarceration Rate (per 100 000)                       127.50000
Literacy Rate                                           65.70000
Age at First Marriage                                   25.00000
Spending on Education (in %)                             4.30000
Homeless Population (per 10 000)                        35.30000
Milk Consumption                                       111.43000
Num. of Scientific and Technical Journals Articles     123.87400
Books Published                                       2854.00000
Kilocalories                                          2805.00000
Avg. Yearly Temperature (in Celsius)                    21.00000
dtype: float64

In [63]:
# "data" represents the data of dataA.csv (countries are indexes)
# Start compiling here!
dataB_median = data.copy()

for i in range(dataB_median.shape[0]):
    for j in range(dataB_median.shape[1]):
        # If the cell contains nan
        if bool_df.iloc[i,j]:
            # Replace nan with the j-th median
            dataB_median.iloc[i,j] = data.iloc[:,j].median()

dataB_median

,GDP,Internet Speed,Consumption of Pure Alcohol,Intentional Homicide Victims,Military Expenditures,Human Development Index,Democracy Index,Tertiary Education,Importance of Religion (in %),% of Christians,...,Incarceration Rate (per 100 000),Literacy Rate,Age at First Marriage,Spending on Education (in %),Homeless Population (per 10 000),Milk Consumption,Num. of Scientific and Technical Journals Articles,Books Published,Kilocalories,Avg. Yearly Temperature (in Celsius)
COUNTRY,,,,,,,,,,,,,,,,,,,,,
Afghanistan,470.0,88.625,0.2,6.7,2.1,0.511,2.85,41.0,0.97,0.0002,...,87.0,20.3,15.0,4.1,35.3,62.23,3.013,2795.0,2805.0,12.60
Albania,5303.0,45.250,7.5,2.3,2.1,0.795,6.08,41.0,0.50,0.1700,...,164.0,86.9,24.0,4.0,35.3,303.72,62.441,390.0,2890.0,11.40
Algeria,3976.0,88.625,0.9,1.4,2.1,0.748,3.77,41.0,0.95,0.0001,...,153.0,19.5,27.8,4.3,35.3,141.53,123.874,3955.0,3090.0,22.50
Angola,2671.0,88.625,6.4,4.8,2.1,0.581,3.66,41.0,0.88,0.7500,...,93.0,27.0,21.4,3.5,35.3,12.30,0.974,22.0,1960.0,21.55
Argentina,10041.0,51.510,9.8,5.3,2.1,0.845,6.95,41.0,0.65,0.7700,...,230.0,97.9,33.2,5.5,35.3,195.08,198.620,28010.0,3030.0,14.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,4733.0,88.625,5.6,36.7,2.1,0.711,2.76,41.0,0.79,0.8800,...,134.0,88.1,22.7,3.6,35.3,117.79,22.121,2275.0,2650.0,25.35
Vietnam,2715.0,66.380,8.3,1.5,2.1,0.704,2.94,41.0,0.30,0.0820,...,128.0,76.9,22.8,4.3,16.6,16.36,44.858,24589.0,2780.0,24.45
Yemen,855.0,88.625,0.1,6.8,2.1,0.470,1.95,41.0,0.99,0.0001,...,53.0,13.7,23.0,5.2,1294.0,43.97,4.807,2854.0,2050.0,23.85
Zambia,1292.0,88.625,4.8,5.4,2.1,0.584,4.86,41.0,0.95,0.9550,...,123.0,52.3,18.7,1.3,35.3,9.71,12.275,2854.0,1880.0,21.40
Zimbabwe,1464.0,88.625,4.8,7.5,2.1,0.571,3.16,41.0,0.88,0.8700,...,127.0,81.1,19.9,6.1,848.0,31.90,24.864,232.0,2210.0,21.00

In [64]:
# STEP 3: IMPUTATION WITH LINEAR REGRESSION

In [65]:
# We must first detect if the column contains any empty cells
# Feature: pandas array (dataframe)
def is_nan(data, feature_number):
    feature = data.iloc[:, feature_number]
    # For every country
    for i in range(feature.shape[0]):
        if pd.isnull(feature[i]):
            return True
    return False

In [66]:
# Linear Regression for one specific feature
# Return the predicted values for the countries that contains nan
# in that specific feature
def impute_linear_reg(data, feature_number):
    # Training data
    # Note: data.iloc[0,:].index[feature_number] = Name of the feature
    filled_values = data[bool_df.iloc[:,feature_number] == False]
    x_train = filled_values.drop(data.iloc[0,:].index[feature_number], axis = 1)
    y_train = filled_values.iloc[:,feature_number]
        
    # Linear Regression (Training)
    model = LinearRegression()
    model.fit(x_train, y_train)
        
    # Predicted data for imputation
    missing_values = data[bool_df.iloc[:,feature_number]]
    x_predict = missing_values.drop(data.iloc[0,:].index[feature_number], axis = 1)
    y_predict = model.predict(x_predict)
        
    return y_predict

In [67]:
# Replacing the median to the predicted value for one specific feature
def replace_data(initial_data, final_data, feature_number, predicted_values):
    index_predict = 0
    for i in range(initial_data.shape[0]):
        if bool_df.iloc[i,feature_number]:
            final_data.iloc[i,feature_number] = predicted_values[index_predict]
            index_predict = index_predict + 1

In [68]:
# First Linear Regression (Imputation)
dataB_firstreg = dataB_median.copy()

for j in range(dataB_firstreg.shape[1]):
    if is_nan(data, j):
        predicted_values = impute_linear_reg(dataB_median, j)
        replace_data(dataB_median, dataB_firstreg, j, predicted_values)

dataB_firstreg.head()

,GDP,Internet Speed,Consumption of Pure Alcohol,Intentional Homicide Victims,Military Expenditures,Human Development Index,Democracy Index,Tertiary Education,Importance of Religion (in %),% of Christians,...,Incarceration Rate (per 100 000),Literacy Rate,Age at First Marriage,Spending on Education (in %),Homeless Population (per 10 000),Milk Consumption,Num. of Scientific and Technical Journals Articles,Books Published,Kilocalories,Avg. Yearly Temperature (in Celsius)
COUNTRY,,,,,,,,,,,,,,,,,,,,,
Afghanistan,470.0,36.936640,0.2,6.7,1.614127,0.511,2.85,26.229283,0.97,0.0002,...,87.0,20.3,15.0,4.1,666.289163,62.23,3.013,2795.0,2045.975114,12.60
Albania,5303.0,45.250000,7.5,2.3,5.927603,0.795,6.08,7.965115,0.50,0.1700,...,164.0,86.9,24.0,4.0,539.432741,303.72,62.441,390.0,2890.000000,11.40
Algeria,3976.0,25.971262,0.9,1.4,5.833653,0.748,3.77,-43.570621,0.95,0.0001,...,153.0,19.5,27.8,4.3,68.109431,141.53,123.874,3955.0,3090.000000,22.50
Angola,2671.0,54.208540,6.4,4.8,3.843848,0.581,3.66,-8.717984,0.88,0.7500,...,93.0,27.0,21.4,3.5,-194.901572,12.30,0.974,22.0,1960.000000,21.55
Argentina,10041.0,51.510000,9.8,5.3,-0.421699,0.845,6.95,26.138413,0.65,0.7700,...,230.0,97.9,33.2,5.5,169.203849,195.08,198.620,28010.0,3030.000000,14.80

In [69]:
# Second Linear Regression (Imputation)
dataB = dataB_firstreg.copy()
for j in range(dataB.shape[1]):
    if is_nan(data, j):
        predicted_values = impute_linear_reg(dataB_firstreg, j)
        replace_data(dataB_firstreg, dataB, j, predicted_values)

dataB.head()

,GDP,Internet Speed,Consumption of Pure Alcohol,Intentional Homicide Victims,Military Expenditures,Human Development Index,Democracy Index,Tertiary Education,Importance of Religion (in %),% of Christians,...,Incarceration Rate (per 100 000),Literacy Rate,Age at First Marriage,Spending on Education (in %),Homeless Population (per 10 000),Milk Consumption,Num. of Scientific and Technical Journals Articles,Books Published,Kilocalories,Avg. Yearly Temperature (in Celsius)
COUNTRY,,,,,,,,,,,,,,,,,,,,,
Afghanistan,470.0,29.728075,0.2,6.7,10.296932,0.511,2.85,14.493478,0.97,0.0002,...,87.0,20.3,15.0,4.1,-247.590711,62.23,3.013,2795.0,2343.227344,12.60
Albania,5303.0,45.250000,7.5,2.3,11.096347,0.795,6.08,25.764329,0.50,0.1700,...,164.0,86.9,24.0,4.0,28.004138,303.72,62.441,390.0,2890.000000,11.40
Algeria,3976.0,47.088696,0.9,1.4,1.467783,0.748,3.77,19.466652,0.95,0.0001,...,153.0,19.5,27.8,4.3,61.897809,141.53,123.874,3955.0,3090.000000,22.50
Angola,2671.0,93.712737,6.4,4.8,-1.319559,0.581,3.66,34.925599,0.88,0.7500,...,93.0,27.0,21.4,3.5,-29.967124,12.30,0.974,22.0,1960.000000,21.55
Argentina,10041.0,51.510000,9.8,5.3,1.901054,0.845,6.95,12.182220,0.65,0.7700,...,230.0,97.9,33.2,5.5,43.940427,195.08,198.620,28010.0,3030.000000,14.80

In [70]:
dataB.to_csv("dataB.csv", encoding='utf-8')

In [71]:
####################################################################
# CREATING dataC.csv ###############################################
####################################################################
# Changed for later dataC = dataB (imported)
dataC = dataB.copy()
for i in range(dataC.shape[0]):
    for j in range(dataC.shape[1]):
        if dataB.iloc[i,j] > data.iloc[:,j].median():
            dataC.iloc[i,j] = 1
        else:
            dataC.iloc[i,j] = 0
dataC = dataC.astype(int)
dataC

,GDP,Internet Speed,Consumption of Pure Alcohol,Intentional Homicide Victims,Military Expenditures,Human Development Index,Democracy Index,Tertiary Education,Importance of Religion (in %),% of Christians,...,Incarceration Rate (per 100 000),Literacy Rate,Age at First Marriage,Spending on Education (in %),Homeless Population (per 10 000),Milk Consumption,Num. of Scientific and Technical Journals Articles,Books Published,Kilocalories,Avg. Yearly Temperature (in Celsius)
COUNTRY,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Albania,0,0,1,0,1,1,1,0,0,0,...,1,1,0,0,0,1,0,0,1,0
Algeria,0,0,0,0,0,0,0,0,1,0,...,1,0,1,0,1,1,0,1,1,1
Angola,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
Argentina,1,0,1,1,0,1,1,0,0,1,...,1,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0,0,0,1,1,0,0,0,0,1,...,1,1,0,0,1,1,0,0,0,1
Vietnam,0,0,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
Yemen,0,1,0,1,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,1
Zambia,0,0,0,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,1
Zimbabwe,0,0,0,1,1,0,0,0,1,1,...,0,1,0,1,1,0,0,0,0,0

In [72]:
dataC.to_csv("dataC.csv", encoding='utf-8')